.font-Source-Serif-Pro {
  font-family: "Source Serif Pro", serif;
}

.navbarstyle {
  opacity: 0.96;
}

.price_button,
.location_button,
.abonement_button,
.more_dropdown {
  color: black;
  font-size: 35px;
  font-family: "Source Serif Pro", serif;
  padding: 0 10px;
}

.dropdown-menu li {
  font-size: 23px;
}
/* common styles */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
/* end of common styles */

/*Header*/
.header {
  z-index: 100;
  height: 100vh;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("https://thepage.fra1.digitaloceanspaces.com/live/media/108739/conversions/290202be08c1cd7fb76b-a698-b402-d702-8390fb1bd546-large.jpg?v=1605499450")
      center no-repeat;
  background-size: cover;
}

.brand {
  z-index: 100;
  display: flex;
  cursor: pointer;
}

.hotel-heading {
  z-index: 100;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.7rem;
  font-weight: 400;
  color: #deaa86;
  letter-spacing: 0.2rem;
}

.banner {
  font-family: "Source Serif Pro", serif;
  z-index: 100;
  color: #ddd;
  height: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner-heading {
  z-index: 100;
  font-family: "Source Serif Pro", serif;
  font-size: 7rem;
  font-weight: 400;
  margin-bottom: 0;
  animation: anim 2s;
}
.banner-paragraph {
  z-index: 100;
  font-size: 3.5rem;
  font-weight: 300;
  animation: anim 1.5s 0.5s backwards;
}
.banner-button {
  z-index: 100;
  width: 21rem;
  padding: 1.2rem 2rem;
  color: #333;
  letter-spacing: 0.1rem;
  border: none;
  outline: none;
  border-radius: 10rem;
  background: linear-gradient(to right, rgb(0, 179, 255), rgb(32, 144, 218));
  cursor: pointer;
  animation: anim 1s 1s backwards;
}
.banner-button:hover {
  z-index: 100;
  background: linear-gradient(to left, golden, goldenrod);
}
.banner-button:active {
  z-index: 100;
  transform: translatey(0.2rem);
}

@keyframe anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*end of header*/

/*About Us*/
.about-us {
  display: flex;
  background-color: #ddd;
}

.about-us-content {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  box-sizing: border-box;
}

.about-us-heading {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #555;
}

.sub-heading {
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  color: #b85d1c;
}

.about-us-paragraph {
  font-size: 2.0rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  margin-bottom: 5rem;
}

.about-us-btn {
  width: 15rem;
  padding: 0.7rem 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #b85d1c;
  background-color: transparent;
  border: 0.1rem solid #b85d1c;
  outline: none;
  cursor: pointer;
}

.about-us-images {
  flex: 1 1;
  position: relative;
}

.image {
  width: 32rem;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.4);
  border-radius: 0.4rem;
  border: 0.2rem solid #b85d1c;
}

.image-1 {
  transform: translate(10%, -90%);
}

.image-2 {
  transform: translate(-70%, -70%);
  z-index: 1;
}

.image-3 {
  transform: translate(-90%, 30%);
}

.image-4 {
  transform: translate(-10%-30%);
}
/* end of about us */

/* common header */
.common-header {
  padding: 5rem;
  text-align: center;
  color: #b85d1c;
}

.common-heading {
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
}

.small-underline {
  width: 9rem;
  height: 0.1rem;
  margin: 0 auto 1rem auto;
  background-color: #b85d1c;
}

.big-underline {
  width: 20rem;
  height: 0.1rem;
  margin: auto;
  background-color: #b85d1c;
}
/* end of common header */

/* rooms */

.rooms-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.room-card {
  height: 550px;
  width: 60rem;
  margin: 5rem;
  background-color: #15141b;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.3);
}

.room-img {
  width: 100%;
  height: 60%;
}

.room-card-content {
  color: #ddd;
  padding: 2rem;
}

.room-card-heading {
  margin: 0;
  font-size: 3rem;
  font-weight: 300;
}

.room-card-paragraph {
  font-size: 1.5rem;
  color: #777;
}

.room-price {
  font-size: 5rem;
  font-weight: 300;
  text-align: right;
  margin: 0;
}

.room-card-btn {
  width: 15rem;
  padding: 1.5rem 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #b85d1c;
  background-color: transparent;
  border: 0.1rem solid #b85d1c;
  border-radius: 10rem;
  outline: none;
  cursor: pointer;
}

.rooms-btn-wrapper {
  text-align: center;
}

.rooms-btn {
  width: 20rem;
  padding: 1.5rem 1rem;
  margin: 4rem 0;
  background-color: transparent;
  text-transform: uppercase;
  color: #b85d1c;
  border: 0.2rem solid #b85d1c;
  outline: none;
  cursor: pointer;
  box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

.rooms-btn:hover {
  color: #ddd;
  background-color: #b85d1c;
}
/* end of rooms */
/* customers */
.customers {
  padding-bottom: 7rem;
  background-color: #15141b;
}

.customers-paragraph {
  font-size: 1.8rem;
  color: #ddd;
  width: 50%;
  margin: 2rem auto 8rem auto;
  text-align: center;
}

.customers-card-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.customer-card {
  background-color: #eee;
  width: 60rem;
  display: flex;
}

.customer-image-wrapper {
  margin: auto 0;
}

.customer-image {
  width: 20rem;
  margin-left: -1.3rem;
}

.customer-info {
  padding: 0 2rem;
}

.customer-fullname {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 0;
}

.customer-paragraph-1 {
  font-size: 1.2rem;
  font-style: italic;
  color: #b85d1c;
}

.customer-paragraph-2 {
  font-size: 1.3rem;
  font-style: italic;
}
/* end of customers */

/* footer */

.creator-part {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  padding: 0 4rem;
}

.copyright-text {
  font-size: 1.3rem;
  color: #aaa;
}

.text-right {
  font-size: 1.4rem;
  color: #bbb;
}
